body{
    /* background:linear-gradient(to right, rgb(100, 43, 115), rgb(198, 66, 110)) */
    /* background: linear-gradient(to right, rgb(217, 167, 199), rgb(255, 252, 220)); */
    /* background-image: linear-gradient(to right, #d299c2 0%, #fef9d7 100%); */
   
    background: #BA5370;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F4E2D8, #BA5370);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F4E2D8, #BA5370); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
/* background-image: linear-gradient(to right, #FFDEE9 0%, #B5FFFC 100%); */

    text-align: center;
}
h1{
    font-size: 40px;
    margin-top: 20px;
    color: #ac506a;
    font-family: 'Lobster', cursive;
}
#main{
    margin: auto;
    margin-top: 10px;
    width: 305px;
    height: 420px;
    padding: 20px 10px 20px 10px;

    /* background:linear-gradient(to right, rgb(100, 43, 115), rgb(198, 66, 110)); */
    background-color: white;
    border-radius: 10px;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028),
    0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042),
    0 41.8px 33.4px rgba(0, 0, 0, 0.05),
    0 100px 80px rgba(0, 0, 0, 0.07)
  ;
  
}
div{
    margin: 10px 20px 10px 20px;
    
}
button {
    
    border: 0;
    background: -webkit-linear-gradient(to right, #F4E2D8, #BA5370);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F4E2D8, #BA5370); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 4px;
    box-shadow: 0 5px 0 #ba5370a6;
    color: #fff;
    cursor: pointer;
    font: inherit;
    margin: 0;
    outline: 0;
    padding: 12px 20px;
    transition: all .1s linear;
    font-size: 20px;
  }
  button:active {
    box-shadow: 0 2px 0 #ba5370a6;
    transform: translateY(3px);
  }

.btn,.clearBtn,.bckBtn{
      width: 52px;
    margin: 10px 6px 0px 5px;
    font-family: 'Martel', serif;
}
.halfBtn{
    margin: 10px 6px 0px 5px;
    width: 120px;
}

input{
    font-size: 20px;
    outline: none;
    border: 0;
    background-color: white;
    /* background: linear-gradient(to right, rgb(217, 167, 199), rgb(255, 252, 220)); */
    box-shadow: 2px 2px 6px gray;
    border-radius: 4px;
    padding: 15px 0px 10px 15px;
    margin: 5px 0px 5px 5px;
}